* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#lawn-2 {
  align-items: flex-start;
  background-image: url('assets/lawn-2.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(24, 24, 16, 0.8);
  display: flex;
  font-family: 'Pompiere', sans-serif;
  font-size: 6vh;
  height: 100%;
  justify-content: flex-end;
  padding-right: 0.4em;
  padding-top: 0.3em;
  text-shadow: -6px 2px 8px rgba(28, 29, 17, 0.16);
  width: 100%;
}

#house-1 {
  align-items: flex-start;
  background-image: url('assets/house-1.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(246, 221, 218);
  display: flex;
  font-family: 'Pompiere', sans-serif;
  font-size: 6vh;
  height: 100%;
  justify-content: flex-end;
  padding-right: 0.4em;
  padding-top: 0.3em;
  text-shadow: -2px 2px 4px rgba(28, 29, 17, 0.7);
  width: 100%;
}

#house-2 {
  align-items: flex-start;
  background-image: url('assets/house-2-colorcross.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(82, 57, 72, 0.6);
  display: flex;
  font-family: 'Shadows Into Light';
  font-size: 64px;
  height: 100%;
  justify-content: flex-end;
  padding-right: 0.4em;
  /* padding-top: 0.1em; */
  text-shadow: -2px 2px 4px rgba(28, 29, 17, 0.15);
  width: 100%;
  /* -webkit-text-stroke: 1px rgba(20, 6, 25, 0.8); */
}


/* colorcross */
/* cinema */
/* matte mmx a */
